@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--text: #e7e7e0;
	--transition: transform .75s cubic-bezier(.075, .5, 0, 1);
	--color-theme: #212529;
	--color-dark: #15181A;
	--color-red: #C03221;
	--color-hover: #C64D3F;
	--color-grey; #C7C7C7;
}

@font-face {
    font-family: 'Alumni_Sans';
    src: url('/assets/fonts/static/AlumniSans-Regular.ttf') format('truetype');
    font-weight: normal; /* Assuming Regular weight */
}

@font-face {
    font-family: 'Alumni_Sans';
    src: url('/assets/fonts/static/AlumniSans-SemiBold.ttf') format('truetype');
    font-weight: 600; /* SemiBold weight */
}

@font-face {
    font-family: 'Alumni_Sans';
    src: url('/assets/fonts/static/AlumniSans-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium weight */
}


body {
	background-color: var(--color-theme);
	font-family: 'Alumni_Sans', sans-serif;
}

a {
	transition: all 0.7s ease;
	color: var(--color-red);
	text-decoration: none;
}

a:hover {
	color: var(--color-hover);
}

.header {
	display: flex;
	justify-content: space-between;
	position: absolute;
	z-index: 99;
	padding-top: 30px;
	align-items: center;
	top: 0;
	width: 100%;
	transform: translateX(-50%);
	left: 50%;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding-left: 40px;
	padding-right: 40px;
}

p {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	/* color: var(--color-theme); */
}

.nav-list {
	display: flex;
	gap: 24px;
}

.btn-red {
	display: flex;
}

.btn-red a{
	background-color: var(--color-red);
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	line-height: 21.6px;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.7s ease;
	position: relative;
}

.btn-red a::after {
	content: "";
	position: absolute;
	background: var(--color-red);
	clip-path: polygon(0 -3%, 100% 37%, 100% 68%, 0 101%);
		right: 0;
	right: -19px;
	height: 100%;
	width: 20px;
	top: 0;
}

.btn-red a::before {
	content: "";
	position: absolute;
	background: var(--color-red);
	clip-path: polygon(0 30%, 100% -1px, 100% 100%, 0 63%);
	left: -20px;
	height: 100%;
	width: 20px;
	top: 0;
}


/* .btn-red a:hover{
	background-color: var(--color-hover);
} */

.btn-red-bold {
	display: flex;
	text-align: center;
	position: relative;
	width: max-content;
}

.dangerous .btn-red-bold {
	width: max-content;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	position: relative;
}


/* .btn-red-bold a{
	padding: 20px 60px;
	font-size: 18px;
	font-weight: 600;
	background-color: var(--color-red);
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
} */
.btn-red-bold a {
	padding: 20px 60px;
	font-size: 18px;
	font-weight: 600;
	background-color: var(--color-red);
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	/* background-image: url("/assets/img/main-btn.png"); */
	background-repeat: no-repeat;
	width: 221px;
	height: 52px;
	align-items: center;
}

.btn-red-bold a::after {
	content: "";
	position: absolute;
	background: var(--color-red);
	clip-path: polygon(0 -3%, 100% 37%, 100% 68%, 0 101%);
		right: 0;
	right: -19px;
	height: 100%;
	width: 20px;
	top: 0;
}

.btn-red-bold a::before {
	content: "";
	position: absolute;
	background: var(--color-red);
	clip-path: polygon(0 30%, 100% -1px, 100% 100%, 0 63%);
	left: -20px;
	height: 100%;
	width: 20px;
	top: 0;
}


.nav-list a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	line-height: 21.6px;
}

.main-header {
	position: relative;
} 
.main-header::after {
	content: '';
	position: absolute;
	z-index: 100;
	width: 100%;
	height: calc(var(--index) * 10);
	background-image: url(/assets/img/ground.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	bottom: calc(var(--index) * -4.5);
}
.layers {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	/* text-align: center; */
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}
.layer {
	height: 100%;
	width: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
	will-change: transform;
	z-index: 2;
	transition: var(--transition);
}
.layers__base {
	transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
	z-index: 0;
}
.layers__middle {
	transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}
.layers__front {
	transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}
.layer__header {
	z-index: 1;
	font-weight: 600;
	color: var(--text);
	margin-top: -7rem;
	margin-right: 19rem;
	position: relative;
}

.layers__title {
	/* font-size: calc(var(--index) * 2.65); */
	font-size: 64px;
	/* letter-spacing: calc(var(--index) / 2.25); */
	text-transform: uppercase;
	line-height: 64px;
	font-weight: 600;
	z-index: 9;
	position: relative;
}
.layers__title span {
	background-color: #fff;
	color: #212529;
	padding-left: 30px;
	padding-right: 10px;
}
.layers__caption {
	font-size: 200px;
	line-height: 120px;
	text-transform: uppercase;
}
.layers__caption span{
	/* font-size: calc(var(--index) / 1.175); */
	font-size: 120px;
	/* letter-spacing: calc(var(--index) / 3.5); */
	margin-top: calc(var(--index) * -.75);
	text-transform: initial;
}


.main-article {
	--main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	color: var(--text);
	display: flex;
	flex-direction: column;
	/* justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	top: -1px; */
	/* z-index: 10;	 */
	overflow: hidden;
}

.main-article__header {
	text-transform: uppercase;
	font-size: calc(var(--index) * 1.8);
	letter-spacing: calc(var(--index) / 7.5);
	transform: var(--main-article-transform);
	transition: var(--transition);
	will-change: transform;
}
.main-article__paragraph {
	max-width: calc(var(--index) * 30);
	font-size: calc(var(--index) * .9);
	margin-top: calc(var(--index) / 1.25);
	transform: var(--main-article-transform);
	transition: var(--transition);
	will-change: transform;
}
.content {
	will-change: transform;
}
.copy {
	bottom: calc(var(--index) * 2.5);
	font-size: calc(var(--index) * .75);
	letter-spacing: calc(var(--index) / 37.5);
	width: 100%;
	display: flex;
	justify-content: center;
	background: linear-gradient(360deg, #15181A 0%, #212529 100%);
	padding: 24px 0;
	bottom: 0;
}

.copy p {
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}

#countdown {
	position: fixed;
	z-index: 99;
	color: #fff;
	background-color: var(--color-dark);
	font-size: 32px;
	line-height: 38.4px;
	display: flex;
	bottom: 0;
	width: 100%;
	padding: 26px;
	justify-content: center;
	align-items: center;
	gap: 64px;
}

.time-unit {
	color: var(--color-red);
	font-size: 64px;
	font-weight: 700;
	line-height: 76.8px;
}

.how-help {
	color: var(--color-red);
	text-decoration: none;
	margin-top: 16px;
	display: flex;
}

.layer__header .btn-red {
	margin-top: 64px;
}

.btn-red-bold a {
	padding: 20px 60px;
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
	transition: all 0.7s ease;
	align-items: center;
	display: flex;
	justify-content: center;
}

.red-block {
	display: flex;
	background-color: var(--color-red);
	gap: 40px;
	align-items: center;
	transform: rotate(4deg);
	width: 100vw;
	justify-content: center;
	position: relative;
	width: 110vw;
	left: -5vw;
	margin-top: 90px;
	padding: 34px;
}

.mt64 {
	margin-top: 64px;
}

.mt32-mb64 {
	margin-top: 32px;
	margin-bottom: 64px;
}

.mb32 {
	margin-bottom: 32px;
}

.mb128 {
	margin-bottom: 128px;
}

#say-no {
	width: 100%;
	position: relative;
	width: 100vw;
}

.red-block-item {
	font-size: 64px;
	line-height: 76.8px;
	font-weight: 600;
}

.red-item-big {
	font-size: 240px;
	color: #fff;
	line-height: 288px;
	font-weight: 700;
	line-height: 76.8px;
}

.title-red64{
	color: var(--color-red);
	font-size: 64px;
}

.col3 {
	display: flex;
	justify-content: space-between;
}

.col3 {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.col3-item img{
	width: 100%;
	max-width: 200px;
	margin-bottom: 32px;
}

.col3-item_title {
	font-size: 32px;
	font-weight: 600;
	line-height: 38.4px;
	text-align: left;
	margin-bottom: 24px;
	display: flex;
}

.link_dot:before {
	content:"●";
}

.link_dot {
	color: var(--color-red);
	text-decoration: none;
	margin-top: 32px;
	display: flex;
	gap: 8px;
}

.text-center {
	display: flex;
	justify-content: center;
}
.background-white {
	width: 100%;
	margin: 50px auto;
	background-color: #D9D9D9;
	position: relative;
	/* -webkit-clip-path: polygon(0 calc(100% - 20px), 100% 0%, 100% 100%, 0% 100%);
	clip-path: polygon(0 calc(9% - 20px), 100% 0%, 100% 100%, 0% 100%); */
	height: auto;
	clip-path: polygon(0 calc(9% - 20px), 100% 0%, 100% calc(91% + 20px), 0% 100%);
}


.title-100 {
	font-size: 100px;
	font-weight: 700;
	line-height: 120px;
	color: var(--color-theme);
}

.pt300{
	padding-top: 300px;
}

.pt220{
	padding-top: 220px;
}

.col-movement {
	display: flex;
	gap: 20px;
}

.col-movement-item_link {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.about_movement p {
	color: var(--color-theme);
}

.col-movement-item_link a {
	display: flex;
	align-items: center;
	gap: 8px;
	text-decoration: none;
	background-image: url(/assets/img/border-button.png);
	background-repeat: no-repeat;
	width: 234px;
	height: 54px;
	justify-content: center;
	/* overflow: hidden; */
	color: var(--color-dark);
	text-transform: uppercase;
	font-weight: 800;
	font-size: 18px;
	line-height: 21.6px;
	letter-spacing: 0.05em;
	/* border-top:1px solid var(--color-theme); */
	/* border-bottom:1px solid var(--color-theme); */
	position: relative;
}

/* .col-movement-item_link a:before {
	content: "";
	position: absolute;
	background: var(--color-red);
	clip-path: polygon(0 30%, 100% -1px, 100% 100%, 0 63%);
	left: -20px;
	height: 100%;
	width: 20px;
	top: 0;
}

.col-movement-item_link a:after {
	content: "";
	position: absolute;
	background: var(--color-grey);
	border: 1px solid red;
	clip-path: polygon(0 -3%, 100% 37%, 100% 68%, 0 101%);
	right: -19px;
	height: 100%;
	width: 20px;
	top: 0;
	display: inline-block;
} */

.col-movement-item:last-child {
	padding-top: 64px;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.after-main-text {
	width: 100%;
	position: relative;
	z-index:9;
}

.count-number span {
	color: var(--color-red);
	font-size: 100px;
	font-weight: 600;
	line-height: 120px;
	width: max-content;
}

.count-number p {
	color: var(--color-red);
}

.col3-item:first-child span {
	width: 100%;
}

.count-number-text {
	color: var(--color-red);
	font-size: 40px;
	font-weight: 600;
	line-height: 40px;
}

.count-number {
	display: flex;
	align-items: center;
	gap: 48px;
}

.col3-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}

#how-help {
	display: flex;
	justify-content: right;
	height: 100%;
	background-repeat: no-repeat;
	position: relative;
}

.how-help-block {
	/* background-color: #fff; */
	width: 50%;
	float: right;
	height: max-content;
	padding: 40px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.how-help-block h3 {
	display: none;
}
.level {
	background: #fff;
	padding: 32px 64px;
}
.how-help-block p{
	/* padding: 32px 280px 58px 64px; */
	font-size: 64px;
	font-weight: 600;
	line-height: 76.8px;
}


/* TIMELINE */
.cd-horizontal-timeline {
	opacity: 0;
	margin: 2em auto;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	transition: opacity 0.2s;
  }
  .cd-horizontal-timeline::before {
	/* never visible - this is used in jQuery to check the current MQ */
	content: 'mobile';
	display: none;
  }
  .cd-horizontal-timeline.loaded {
	opacity: 1;
	padding-bottom: 219px;
}
  .cd-horizontal-timeline .timeline {
	position: relative;
	height: 100px;
	width: 100%;
	/* max-width: 800px; */
	margin: 0 auto;
  }
  .cd-horizontal-timeline .events-wrapper {
	position: relative;
	height: 100%;
	margin: 0 40px;
	overflow: hidden;
  }
  .cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {
	/* these are used to create a shadow effect at the sides of the timeline */
	content: '';
	position: absolute;
	z-index: 2;
	top: 0;
	height: 100%;
	width: 20px;
  }

  .cd-horizontal-timeline .events {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 49px;
	height: 2px;
	background: #C7C7C7;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
	width: 100% !important;
}
  .cd-horizontal-timeline .filling-line {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: var(--color-red);
	-webkit-transform: scaleX(0);
	-moz-transform: scaleX(0);
	-ms-transform: scaleX(0);
	-o-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-ms-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
  }
  .cd-horizontal-timeline .events a {
	position: absolute;
	bottom: 0;
	z-index: 2;
	text-align: center;
	color: #383838;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	text-decoration: none;
	font-weight: 600;
	font-size: 24px;
}
.cd-horizontal-timeline .events a:before {
	content: "○";
	color: var(--color-red);
}
  .cd-horizontal-timeline .events a::after {
	/* this is used to create the event spot */
	content: '';
	position: absolute;
	left: 50%;
	right: auto;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: -5px;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	/* border: 2px solid #dfdfdf;
	background-color: #f8f8f8; */
	-webkit-transition: background-color 0.3s, border-color 0.3s;
	-moz-transition: background-color 0.3s, border-color 0.3s;
	transition: background-color 0.3s, border-color 0.3s;
  }
  .no-touch .cd-horizontal-timeline .events a:hover::after {
	/* background-color: #7b9d6f;
	border-color: #7b9d6f; */
  }
  .cd-horizontal-timeline .events a.selected {
	pointer-events: none;
  }

  @media only screen and (min-width: 1100px) {
	.cd-horizontal-timeline {
	  margin: 6em auto;
	}
	.cd-horizontal-timeline::before {
	  /* never visible - this is used in jQuery to check the current MQ */
	  content: 'desktop';
	}
  }
  
  .cd-timeline-navigation a {
	/* these are the left/right arrows to navigate the timeline */
	position: absolute;
	z-index: 1;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 34px;
	width: 34px;
	border-radius: 50%;
	border: 2px solid #dfdfdf;
	/* replace text with an icon */
	overflow: hidden;
	color: transparent;
	text-indent: 100%;
	white-space: nowrap;
	-webkit-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	transition: border-color 0.3s;
  }
  .cd-timeline-navigation a::after {
	/* arrow icon */
	content: '';
	position: absolute;
	height: 16px;
	width: 16px;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: url(../img/cd-arrow.svg) no-repeat 0 0;
  }
  .cd-timeline-navigation a.prev {
	left: 0;
	-webkit-transform: translateY(-50%) rotate(180deg);
	-moz-transform: translateY(-50%) rotate(180deg);
	-ms-transform: translateY(-50%) rotate(180deg);
	-o-transform: translateY(-50%) rotate(180deg);
	transform: translateY(-50%) rotate(180deg);
  }
  .cd-timeline-navigation a.next {
	right: 0;
  }
  /* .no-touch .cd-timeline-navigation a:hover {
	border-color: var(--color-red);
  } */
  .cd-timeline-navigation a.inactive {
	cursor: not-allowed;
  }
  .cd-timeline-navigation a.inactive::after {
	background-position: 0 -16px;
  }
  .no-touch .cd-timeline-navigation a.inactive:hover {
	border-color: #dfdfdf;
  }
  
  .cd-horizontal-timeline .events-content {
	position: relative;
	width: 100%;
	margin: 2em 0;
	overflow: hidden;
	-webkit-transition: height 0.4s;
	-moz-transition: height 0.4s;
	transition: height 0.4s;
	max-width: 817px;
	margin: 0 auto;
	padding-bottom: 64px;
}
  .cd-horizontal-timeline .events-content li {
	position: absolute;
	z-index: 1;
	width: 100%;
	left: 0;
	top: 0;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
	padding: 0 5%;
	opacity: 0;
	-webkit-animation-duration: 0.4s;
	-moz-animation-duration: 0.4s;
	animation-duration: 0.4s;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
  }
  .cd-horizontal-timeline .events-content li.selected {
	/* visible event content */
	position: relative;
	z-index: 2;
	opacity: 1;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
  }
  .cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {
	-webkit-animation-name: cd-enter-right;
	-moz-animation-name: cd-enter-right;
	animation-name: cd-enter-right;
  }
  .cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {
	-webkit-animation-name: cd-enter-left;
	-moz-animation-name: cd-enter-left;
	animation-name: cd-enter-left;
  }
  .cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {
	-webkit-animation-direction: reverse;
	-moz-animation-direction: reverse;
	animation-direction: reverse;
  }

  .cd-horizontal-timeline .events-content h2 {
	font-weight: bold;
	font-size: 2.6rem;
	font-family: "Playfair Display", serif;
	font-weight: 700;
	line-height: 1.2;
  }
  .cd-horizontal-timeline .events-content em {
	display: block;
	font-style: italic;
	margin: 10px auto;
  }
  .cd-horizontal-timeline .events-content em::before {
	content: '- ';
  }
  .cd-horizontal-timeline .events-content p {
	font-size: 1.4rem;
	color: var(--color-theme);
  }
  .cd-horizontal-timeline .events-content em, .cd-horizontal-timeline .events-content p {
	line-height: 1.6;
  }
  @media only screen and (min-width: 768px) {
	.cd-horizontal-timeline .events-content h2 {
	  font-size: 7rem;
	}
	.cd-horizontal-timeline .events-content em {
	  font-size: 2rem;
	}
	.cd-horizontal-timeline .events-content p {
	  font-size: 1rem;
	}
  }
  
  @-webkit-keyframes cd-enter-right {
	0% {
	  opacity: 0;
	  -webkit-transform: translateX(100%);
	}
	100% {
	  opacity: 1;
	  -webkit-transform: translateX(0%);
	}
  }
  @-moz-keyframes cd-enter-right {
	0% {
	  opacity: 0;
	  -moz-transform: translateX(100%);
	}
	100% {
	  opacity: 1;
	  -moz-transform: translateX(0%);
	}
  }
  @keyframes cd-enter-right {
	0% {
	  opacity: 0;
	  -webkit-transform: translateX(100%);
	  -moz-transform: translateX(100%);
	  -ms-transform: translateX(100%);
	  -o-transform: translateX(100%);
	  transform: translateX(100%);
	}
	100% {
	  opacity: 1;
	  -webkit-transform: translateX(0%);
	  -moz-transform: translateX(0%);
	  -ms-transform: translateX(0%);
	  -o-transform: translateX(0%);
	  transform: translateX(0%);
	}
  }
  @-webkit-keyframes cd-enter-left {
	0% {
	  opacity: 0;
	  -webkit-transform: translateX(-100%);
	}
	100% {
	  opacity: 1;
	  -webkit-transform: translateX(0%);
	}
  }
  @-moz-keyframes cd-enter-left {
	0% {
	  opacity: 0;
	  -moz-transform: translateX(-100%);
	}
	100% {
	  opacity: 1;
	  -moz-transform: translateX(0%);
	}
  }
  @keyframes cd-enter-left {
	0% {
	  opacity: 0;
	  -webkit-transform: translateX(-100%);
	  -moz-transform: translateX(-100%);
	  -ms-transform: translateX(-100%);
	  -o-transform: translateX(-100%);
	  transform: translateX(-100%);
	}
	100% {
	  opacity: 1;
	  -webkit-transform: translateX(0%);
	  -moz-transform: translateX(0%);
	  -ms-transform: translateX(0%);
	  -o-transform: translateX(0%);
	  transform: translateX(0%);
	}
  }
  .events-content > ol > li > img {
	margin-bottom: 32px;
	display: flex;
	width: 100%;
}
/* TIMELINE */

#materials {
	clip-path: polygon(0 0, 100% 23%, 100% 100%, 0 79%);
	height: 1000px;
}

/* ТАБЫ */
.tab-wrap {
	border-radius: 6px;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	list-style: none;
	margin: 40px 0;
  }

  .tab {
	display: none;
  }

  .tab__content a {
	color: var(--color-theme);
}
.tab__content ul {
	width: 100%;
	max-width: 670px;
	margin: 0 auto;
}

.tab__content ul li {
	border-bottom: 1px solid var(--color-theme);
	padding: 16px 0 16px 0;
	list-style: none;
	display: flex;
	gap: 8px;
	
}

.tab__content ul li:before {
	content: "●";
	color: var(--color-red);
}

  .tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
	opacity: 1;
	transition: 0.5s opacity ease-in, 0.8s transform ease;
	position: relative;
	top: 0;
	z-index: 100;
	transform: translateY(0px);
	text-shadow: 0 0 0;
	color: var(--color-red);
	margin-top: 32px;
  }
  .tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s opacity ease-in, 0.8s transform ease;
	position: relative;
	top: 0;
	z-index: 100;
	transform: translateY(0px);
	text-shadow: 0 0 0;
	margin-top: 32px;
  }
  .tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s opacity ease-in, 0.8s transform ease;
	position: relative;
	top: 0;
	z-index: 100;
	transform: translateY(0px);
	text-shadow: 0 0 0;
	margin-top: 32px;
  }
  .tab:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4) {
	opacity: 1;
	transition: 0.5s opacity ease-in, 0.8s transform ease;
	position: relative;
	top: 0;
	z-index: 100;
	transform: translateY(0px);
	text-shadow: 0 0 0;
	margin-top: 32px;
  }
  .tab:checked:nth-of-type(5) ~ .tab__content:nth-of-type(5) {
	opacity: 1;
	transition: 0.5s opacity ease-in, 0.8s transform ease;
	position: relative;
	top: 0;
	z-index: 100;
	transform: translateY(0px);
	text-shadow: 0 0 0;
	margin-top: 32px;
  }
  .tab:first-of-type:not(:last-of-type) + label {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
  }
  .tab:not(:first-of-type):not(:last-of-type) + label {
	border-radius: 0;
  }
  .tab:last-of-type:not(:first-of-type) + label {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
  }
  /* .tab:checked + label {
	background-color: #fff;
	box-shadow: 0 -1px 0 #fff inset;
	cursor: default;
  } */
  /* .tab:checked + label:hover {
	box-shadow: 0 -1px 0 #fff inset;
	background-color: #fff;
  } */
  .tab + label {
	cursor: pointer;
	display: block;
	text-decoration: none;
	color: var(--color-dark);
	flex-grow: 3;
	text-align: center;
	user-select: none;
	text-align: center;
	transition: 0.3s background-color ease, 0.3s box-shadow ease;
	height: 54px;
	box-sizing: border-box;
	padding: 15px;
	font-size: 18px;
	font-weight: 800;
	line-height: 21.6px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
  }
  .tab + label:hover {
	background-color: var(--color-red);
  }
  .tab__content {
	padding: 10px 25px;
	background-color: transparent;
	position: absolute;
	width: 100%;
	z-index: -1;
	opacity: 0;
	left: 0;
	transform: translateY(-3px);
	border-radius: 6px;
  }

.tab-wrap label {
	/* background-image:url(/assets/img/border-button-big.png); */
	background-repeat:no-repeat;
	border: 1px solid var(--color-dark);
	margin-right: 1rem;
}
  
/* ТАБЫ */
.tab-container {
	display: flex;
	justify-content: space-around;
  }
  
  .tab {
	background-color: #f0f0f0;
	border: none;
	cursor: pointer;
	padding: 10px;
	width: 100px;
  }
  
  .tab-content {
	display: none;
	margin-top: 20px;
  }
  
  #content1:target,
  #content2:target,
  #content3:target,
  #content4:target {
	display: block;
  }
  


.scroll-text {
	font-size: 240px;
	color: var(--color-red);
	font-size: 240px;
	font-weight: 700;
	line-height: 288px;
}


#text-scroll {
	position: relative;
	height: 600px; /* Высота блока, который будем прокручивать */
	overflow: hidden;
}
.scroll-text {
	white-space: nowrap;
	position: absolute;
	left: 0;
	top: 0;
	transition: transform 0.1s; /* Плавное возвращение текста */
}

.container-help {
	width: 100%;
	background-image: url(/assets/img/block-help.png);
	display: flex;
	justify-content: right;
	background-repeat: no-repeat;
}

.text-scroll-title {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 25%;
}

#write {
	display: flex;
	justify-content: center;
	margin-bottom: 128px;
	display: flex;
	gap: 94px;
	align-items:center;
}

#write .btn-red-bold a{
	width:100%;
}

.arrow-left img {
	transform: rotate(180deg);
}

.arrow-right, .arrow-left{
	display: flex;
	gap: 20px;
}
.scroll-container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.scroll-content {
    position: absolute;
    white-space: nowrap;
    height: 100%;
    color: var(--color-red);
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 700;
    line-height: 288px;
}

/* Убираем стандартные полосы прокрутки */
.scroll-container::-webkit-scrollbar {
    display: none;
}

.how-help-block h3 {
	color: #fff;
	font-size: 50px;
}

.how-help-block h3 span {
	background-color: var(--color-red);
	padding: 2px 4px;
	font-size: 50px;
	color: var(--color-theme);
}



.swiper-container-wrapper--timeline .swiper-slide {
  display: flex;
  min-height: 300px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.swiper-container-wrapper--timeline .swiper-slide .container {
  padding: 0;
  width: 100%;
}
.swiper-container-wrapper--timeline .swiper-slide .title {
  font-size: 18px;
  opacity: 0;
  transition: 0.5s ease 0.5s;
}
.swiper-container-wrapper--timeline .swiper-slide-active .title {
  opacity: 1;
}
.swiper-container-wrapper--timeline .swiper-pagination-progressbar {
	position: relative;
	margin-bottom: 70px;
	background-color: transparent;
	height: 4px;
	border-bottom: 1px solid #C7C7C7;
	width: 75%;
	overflow: hidden;
}
.swiper-container-wrapper--timeline .swiper-pagination-progressbar-fill {
  background-color: #000;
  height: 3px;
  top: 2px;
}
.swiper-container-wrapper--timeline .swiper-pagination-progressbar:before {
  position: absolute;
  top: 2px;
  left: -100%;
  width: 100%;
  height: 3px;
  background-color: #000;
  content: "";
}
.swiper-container-wrapper--timeline .swiper-pagination-progressbar:after {
  position: absolute;
  top: 3px;
  right: -100%;
  width: 100%;
  height: 1px;
  background-color: #888;
  content: "";
}
.swiper-container-wrapper--timeline .swiper-pagination-custom {
  position: relative;
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: flex;
  line-height: 1.66;
  bottom: 0;
  z-index: 11;
  width: 100%;
  display: flex;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch {
  position: relative;
  width: 100%;
  height: 30px;
  line-height: 30px;
  display: block;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch .switch-title {
	position: absolute;
	font-weight: 400;
	right: 0;
	transform: translateX(50%);
	transition: 0.2s all ease-in-out;
	transition-delay: 0s;
	cursor: pointer;
	z-index: 1;
	font-size: 24px;
	font-weight: 600;
	line-height: 28.8px;
	bottom: 1px;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
	background-color: var(--color-red) !important;
}

.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active .switch-title {
  	font-weight: 400;
  	transition-delay: 0.4s;
	font-size: 24px;
	font-weight: 600;
	line-height: 28.8px;

}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active .switch-title:after {
  background: #000;
  width: 25px;
  height: 25px;
  transition-delay: 0.4s;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active ~ .swiper-pagination-switch .switch-title {
  color: var(--color-dark);
  font-weight: 16px;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active ~ .swiper-pagination-switch .switch-title:after {
  background: #888;
}
.switch-title span {
	font-size: 64px;
	font-weight: 600;
	line-height: 76.8px;
	color: var(--color-red);
}
.swiper-autoheight, .swiper-autoheight .swiper-slide {
	height: auto;
	display: flex;
	flex-direction: column;
}

.block-text {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 50%;
}

#timeline {
	padding-bottom: 200px;
}

.layer--header-container {
	position: relative;
}

@media(max-width: 1400px) {
	.count-number {
		display: flex;
		align-items: center;
		gap: 1rem;
		flex-direction: column;
		text-align: center;
	}
	.col3-grid {
		display: flex;
		flex-direction: column;
	}
	.col3-item:first-child span {
		width: unset;
		text-align: left;
	}

}

@media(max-width:1230px) {
	.col-movement {
		display: flex;
		flex-direction: column;
	}
	.col-movement-item img {
		width: 100%;
	}
	.col-movement-item_link {
		flex-direction: row;
	}
}

@media(max-width:1200px) {
	.layer__header {
		margin-right: 0;
		margin-top: 100px;
		/* padding: 0 40px 0 40px; */
	}
	.layers__caption {
		font-size: 100px;
	}
	.layers__title {
		font-size: 32px;
	}
}

@media(max-width:1150px) {
	.col3 {
		flex-direction: column;
	}
}

@media(max-width:1000px) {
	.container-help {
		background-image: none;
	}
	.how-help-block {
		width: 100%;
	}
	.how-help-block h3 {
		display: block;
	}
	#text-scroll {
		display: none;
	}
}

@media(max-width:850px) {
	.col-movement-item_link {
		flex-direction: column;
		align-items: center;
	}
	#timeline {
		padding-bottom: 200px;
		display: none;
	}
	.background-white {
		padding-bottom: 100px;
	}
	.red-item-big {
		font-size: 100px;
	}
	.red-block-item {
		font-size: 30px;
		line-height: 24px;
	}
}

@media(max-width:700px) {
	.img--block-scroll {
		display: none;
	}
}

@media(max-width:600px) {
	.tab + label[for="tab4"] {
		margin-top:8px;
	}
	#materials {
		clip-path: none;
	}
	.pt220 {
		padding-top: 100px;
	}
	.background-white {
		clip-path: none;
		padding-bottom: 32px;
	}
	.pt300 {
		padding-top: 64px;
	}
	.title-100 {
		font-size: 50px;
		line-height: 24px;
		margin-bottom: 32px;
	}
	#write {
		margin-bottom: 64px;
	}
}

@media(max-width:500px) {
	.layers__caption {
		font-size: 80px;
		line-height: 70%;
	}
	.layers__title {
		font-size: 22px;
	}
	.layers__caption span {
		font-size: 60px;
	}
	.layer--header-container {
		padding: 40px;
	}
	.layer__header {
		padding: 0;
	}
	.layer__header {
		z-index: 9;
	}
	.how-help-block p {
		font-size: 40px;
		line-height: 34.8px;
	}
	.layers__title {
		line-height: 24px;
	}
}

@media(max-width:420px) {
	.title-100 {
		font-size: 50px;
		line-height: 60px;
	}
	.count-number span {
		font-size: 50px;
		font-weight: 600;
		line-height: 120px;
	}
	.container {
		padding-left: 20px;
		padding-right: 20px;
	}
	#write {
		gap: 20px;
	}
}